.input {
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 25rem;
	border: none;
	border-radius: 0.4rem;
}
input:focus {
	outline: none;
}
i {
	color: var(--iconColors);
	font-size: 1rem;
	-webkit-text-stroke: 0.5px;
	padding-left: 1.8rem;
}
.customInputGroup {
	display: flex;
	align-items: center;
	gap: 1.3rem;
	background-color: var(--whiteModeInputColors);
	border: 0.1px solid white;
	border-radius: 0.4rem;
	box-shadow: 1px 1px 3px 1px hsl(0, 0%, 90%);
}
/* kéne darkmode class is ezekből */

@media only screen and (max-width: 766px) {
	.customInputGroup {
		margin-bottom: 3rem;
	}
}
