.selectLight {
	background-color: var(--whiteModeInputColors);
	color: var(--lightModeTxtColor);
	border: 1px solid var(--whiteModeInputColors);
	box-shadow: 1px 1px 3px 1px hsl(0, 0%, 90%);
}
.selectDark {
	background-color: var(--darkModeElements);
	color: white;
	border: 1px solid var(--darkModeBg);
	box-shadow: 1px 1px 3px 1px var(--darkModeBg);
}
.selectLight,
.selectDark {
	width: 14em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.1em 1.2em 1.1em 1.5em;
	border-radius: 0.35em;
}

.selectLight p,
.selectDark p {
	margin-bottom: 0;
	font-weight: 600;
}

.selectLight i {
	color: black;
}
.selectDark i {
	color: white;
}
.selectLight i,
.selectDark i {
	font-size: 1em;
	font-weight: bold;
}

.selectLight:hover,
.selectLight:has(+ .optionsLight:hover),
.optionsLight:hover {
	box-shadow: 1px 1px 5px 5px hsl(0, 0%, 70%);
}

.selectDark:hover,
.selectDark:has(+ .optionsDark:hover),
.optionsDark:hover {
	box-shadow: 1px 1px 5px 5px var(--iconColors);
}

.optionsLight {
	background-color: var(--whiteModeInputColors);
	color: var(--lightModeTxtColor);
}
.optionsDark {
	background-color: var(--darkModeElements);
	color: white;
}
.optionsLight,
.optionsDark {
	margin-top: 0.25em;
	border-radius: 0.35em;
	min-width: 14em;
	list-style-type: none;
	position: absolute;
	z-index: 9999999999;
}

.optionsLight li,
.optionsDark li {
	margin-bottom: 0.5em;
	font-weight: 600;
}

.optionsLight li:first-child,
.optionsDark li:first-child {
	margin-top: 1em;
}

.optionsLight li:last-child,
.optionsDark li:last-child {
	margin-bottom: 1em;
}

.optionsLight li:hover,
.optionsDark li:hover {
	font-weight: 700;
}

.optionsLight:hover,
.optionsDark:hover,
.selectLight:hover,
.selectDark:hover {
	cursor: pointer;
}
