.customeSelect {
	width: 13em;
	padding: 0.5em;
	border: none;
}
.customeSelect:focus {
	outline: none;
}
.customeSelect:hover {
	cursor: pointer;
}

.customeSelect option::after {
	content: "";
	width: 100em;
	background-color: red;
}
