.lightMode {
	background-color: var(--lightModeBg);
	color: var(--lightModeTxtColor);
}
.darkMode {
	background-color: var(--darkModeElements);
	color: var(--darkModeTxtColor);
}

.homePageTextSize {
	font-size: 14px;
}
.detailsPageTextSize {
	font-size: 16px;
}
.errorPageMain {
	min-height: 82em;
	background-color: var(--lightModeElements);
}
.errorPageMainDark {
	min-height: 82em;
	background-color: var(--darkModeBg);
}
