@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
	--whiteModeInputColors: hsl(0, 0%, 100%);
	--lightModeElements: hsl(0, 0%, 97%);
	--darkModeElements: hsl(209, 23%, 22%);
	--iconColors: hsl(0, 0%, 52%);
	--lightModeBg: hsl(0, 0%, 98%);
	--darkModeBg: hsl(207, 26%, 17%);
	--lightModeTxtColor: hsl(200, 15%, 8%);
	--darkModeTxtColor: hsl(0, 0%, 100%);
}

body {
	font-family: "Nunito Sans", sans-serif;
}
